/* *** sortable.css for sortable.js *** */

/* custom >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.divbefore { /* 'divBeforeTable' */
/*	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);*/
}
.divafter { /* 'divAfterTable' */
	box-shadow: 0px -5px 5px rgba(0,0,0,0.5);
}

.sortable {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-style: none;
	border-width: 0;
	border-spacing: 0;
}
.sortable thead,
.sortableth2 {
	height: 40px;
	line-height: 40px;
	background: #effbf8;
}
.sortableth2 {
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1) inset, 
		0px 5px 5px rgba(0,0,0,0.5);
	opacity: 0.95;
}
.sortable th,
.sortable thead .tdpad {
	box-shadow: 0px 9px 5px -6px rgba(0,0,0,0.1) inset;
	border-bottom: 1px solid #eee;
}
.sortable th {
	font-weight: normal;
	text-align: left;
}
.sortable tbody {
/*	background: #fff;*/
}
.sortable tr {
	height: 30px;
	cursor: default;
}
.sortableth2 a,
.sortable th,
.sortable td {
	padding: 0 3px;
}

@media(min-height: 415px) {
	.sortable th {
		border: 0;
	}
}
/* SHOULD NOT change below this line ------------------------------------------------------------------------------------------- */
.sortableth2 a,
.sortable th,
.sortable td { /* 3 lines for ellipsis: 'td max-width' must be set */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sortableth2 a,
.sortable th {
	text-overflow: clip; /* for very narrow column */
}
.sortable tbody tr:nth-child(even) { /* zebra stripe */
	background: rgba(0,0,0,0.05);
}
.sortable tbody tr:hover {
	background: rgba(0,0,0,0.15);
}
.sorted { /* sorted column */
	background: rgba(0,0,0,0.05);
}
.asc:before { /* sort icon */
	content: '\25b2\200a';
	color: green;
}
.desc:before { /* sort icon */
	content: '\25bc\200a';
	color: crimson;
}
/* custom <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* DO NOT change below this line ---------------------------------------------------------------------------------------------------- */
body {
	width: 100% !important;
}
.divbefore,
.divafter {
	position: fixed;
	z-index: 10;
}
.divafter {
	bottom: 0;
}
.sortable thead,
.sortableth2 {
	cursor: pointer;
	user-select: none;
}
.sortableth2 {
	position: fixed;
	width: 100%;
	z-index: 1;
}
.sortableth2 a {
	display: inline-block;
}
.sortable thead {
	visibility: hidden;
}
.sortable thead th:empty,
.sortable thead td:empty {
	pointer-events: none;
}
.sortable tbody {
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
.sortable .tdpad {
	width: 50% /* oversize for centering table */
}
